<!-- bosy start -->
<div class="content-inner container-fluid pb-0" id="page_layout">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body ">
                    <div class="card-header">
                        <div class="text-center">
                            <img th:src="@{${user.avatar}}" alt="User Avatar" class="img-fluid rounded-circle">
                            <div class="mt-3 profile-detail" th:if="${role == 'STUDENT'}">
                                <h3><span th:text="${user.studentName}"></span></h3>
                                <p class="text-primary"><span th:text="${role}"></span></p>
                                <p>Phasellus faucibus mollis pharetra. Proin blandit ac massa. Morbi nulla dolor, ornare at commodo non,
                                    feugiat non nisi.</p>
                            </div>
                            <div class="mt-3 profile-detail" th:if="${role == 'STAFF'}">
                                <h3><span th:text="${user.staffName}"></span></h3>
                                <p class="text-primary"><span th:text="${role}"></span></p>
                                <p>Phasellus faucibus mollis pharetra. Proin blandit ac massa. Morbi nulla dolor, ornare at commodo non,
                                    feugiat non nisi.</p>
                            </div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <ul class="list-inline d-flex gap-2 p-0 mb-0 align-items-center social-icons">
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary facebook">
                                            <i class="fa fa-facebook " aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary youtube">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="avatar-40 rounded-circle bg-primary pinterest">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Personal Details</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Birthday</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><span th:text="${user.dob}"></span></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><span th:text="${user.address}"></span></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-6">
                                    <p class="mb-0"><span th:text="${user.phoneNumber}"></span></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row mb-3">
                                <div class="col-sm-6">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-6" th:if="${role == 'STUDENT'}">
                                    <p class="mb-0"><span th:text="${user.studentEmail}"></span></p>
                                </div>
                                <div class="col-sm-6" th:if="${role == 'STAFF'}">
                                    <p class="mb-0"><span th:text="${user.staffEmail}"></span></p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Skill Progress</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline">
                        <li>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">Adventure</h6>
                                <div class="progress d-flex-block w-50" style="height: 5px;">
                                    <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                         aria-label="Success example" aria-valuenow="70" aria-valuemax="100" div>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">Horror</h6>
                                <div class="progress d-flex-block w-50" style="height: 5px;">
                                    <div class="progress-bar bg-danger" data-toggle="progress-bar" role="progressbar"
                                         aria-label="Success example" aria-valuenow="50" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">Comic Book</h6>
                                <div class="progress d-flex-block w-50" style="height: 5px;">
                                    <div class="progress-bar bg-info" data-toggle="progress-bar" role="progressbar"
                                         aria-label="Success example" aria-valuenow="75" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center justify-content-between mb-3">
                                <h6 class="mb-0">Adventure</h6>
                                <div class="progress d-flex-block w-50" style="height: 5px;">
                                    <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                         aria-label="Success example" aria-valuenow="25" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Latest Uploads</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline mb-0">
                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon bg-secondary">
                  <span>
                    <i class="ph ph-file"></i>
                  </span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0">Documentation</h6>
                                        <p class="mb-0">48kb</p>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                          style="background-color: transparent; border: none;">
                      <i class="ph ph-dots-three"></i>
                    </span>
                                            <ul class="dropdown-menu dropdown-menu-end ">
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-share-fat"></i></i> Share</a></li>
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-x-circle"></i>
                                                    Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon bg-secondary">
                  <span>
                    <i class="ph ph-image-square"></i>
                  </span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0">Images</h6>
                                        <p class="mb-0">204kb</p>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                          style="background-color: transparent; border: none;">
                      <i class="ph ph-dots-three"></i>
                    </span>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-share-fat"></i></i> Share</a></li>
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-x-circle"></i>
                                                    Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon bg-secondary">
                  <span>
                    <i class="ph ph-video"></i>
                  </span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0">Videos</h6>
                                        <p class="mb-0">509kb</p>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                          style="background-color: transparent; border: none;">
                      <i class="ph ph-dots-three"></i>
                    </span>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-share-fat"></i></i> Share</a></li>
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-x-circle"></i>
                                                    Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-flex mb-4 align-items-center">
                                    <div class="profile-icon bg-secondary">
                  <span>
                    <i class="ph ph-file-magnifying-glass"></i>
                  </span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0">Resources</h6>
                                        <p class="mb-0">48kb</p>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                          style="background-color: transparent; border: none;">
                      <i class="ph ph-dots-three"></i>
                    </span>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-share-fat"></i></i> Share</a></li>
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-x-circle"></i>
                                                    Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                <li class="d-flex  align-items-center">
                                    <div class="profile-icon bg-secondary">
                  <span>
                    <i class="ph ph-arrows-clockwise"></i>
                  </span>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h6 class="mb-0">Celine Dion</h6>
                                        <p class="mb-0">204kb</p>
                                    </div>
                                    <div>
                                        <div class="dropdown">
                    <span type="button" data-bs-toggle="dropdown" aria-expanded="false"
                          style="background-color: transparent; border: none;">
                      <i class="ph ph-dots-three"></i>
                    </span>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-share-fat"></i></i> Share</a></li>
                                                <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><i
                                                        class="ph ph-x-circle"></i>
                                                    Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h4>Top Books</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-inline mb-0">
                                <li>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Adventure</span>
                                            <div class="text-primary">
                                                95 <span>%</span>
                                            </div>
                                        </div>
                                        <div class="progress" style="height:6px" role="progressbar" aria-label="Success example"
                                             aria-valuenow="25" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                                 aria-label="Success example" aria-valuenow="95" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Horror</span>
                                            <div class="text-primary">
                                                72 <span>%</span>
                                            </div>
                                        </div>
                                        <div class="progress" style="height:6px" role="progressbar" aria-label="Success example"
                                             aria-valuenow="25" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                                 aria-label="Success example" aria-valuenow="72" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Comic Book</span>
                                            <div class="text-primary">
                                                75 <span>%</span>
                                            </div>
                                        </div>
                                        <div class="progress" style="height:6px" role="progressbar" aria-label="Success example"
                                             aria-valuenow="25" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                                 aria-label="Success example" aria-valuenow="75" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Biography</span>
                                            <div class="text-primary">
                                                70 <span>%</span>
                                            </div>
                                        </div>
                                        <div class="progress" style="height:6px" role="progressbar" aria-label="Success example"
                                             aria-valuenow="25" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                                 aria-label="Success example" aria-valuenow="70" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div class="mb-3">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span>Mystery</span>
                                            <div class="text-primary">
                                                80 <span>%</span>
                                            </div>
                                        </div>
                                        <div class="progress" style="height:6px" role="progressbar" aria-label="Success example"
                                             aria-valuenow="25" aria-valuemax="100">
                                            <div class="progress-bar bg-primary" data-toggle="progress-bar" role="progressbar"
                                                 aria-label="Success example" aria-valuenow="80" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                </li>





                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Daily Sales</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline mb-0">
                        <li class="d-flex mb-4">
                            <img class="img-fluid avatar-50 rounded-circle " src="../assets/images/avatars/06.jpg" alt="">
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-0">Reading on the World</h5>
                                <p class="mb-0">Lorem Ipsum is simply dummy test</p>
                            </div>

                            <div class=" d-flex align-items-center">
                                <span class="text-dark"><b>+$82</b></span>
                            </div>
                        </li>

                        <li class="d-flex mb-4">
                            <img class="img-fluid avatar-50 rounded-circle " src="../assets/images/avatars/07.jpg" alt="">
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-0">Little Black Book</h5>
                                <p class="mb-0">Lorem Ipsum is simply dummy test</p>
                            </div>

                            <div class=" d-flex align-items-center">
                                <span class="text-dark"><b>+$90</b></span>
                            </div>
                        </li>
                        <li class="d-flex ">
                            <img class="img-fluid avatar-50 rounded-circle " src="../assets/images/avatars/08.jpg" alt="">
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-0">See the More Story</h5>
                                <p class="mb-0">Lorem Ipsum is simply dummy test</p>
                            </div>

                            <div class=" d-flex align-items-center">
                                <span class="text-dark"><b>+$85</b></span>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h4>Top Products</h4>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-inline mb-0">
                        <li class="align-items-center justify-content-between row mb-3">
                            <div class="col-md-8">
                                <h5>Find The Wave Book</h5>
                                <p class="mb-0">General Book</p>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <span class="text-primary me-3"><b>+$92</b></span>
                                    <div class="progress d-flex-block w-75" style="height: 6px;">
                                        <div class="progress-bar bg-primary" role="progressbar" data-toggle="progress-bar"
                                             aria-label="Success example" aria-valuenow="90" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="align-items-center justify-content-between row ">
                            <div class="col-md-8">
                                <h5>A man with those Faces</h5>
                                <p class="mb-0">Biography Book</p>
                            </div>
                            <div class="col-md-4">
                                <div class="d-flex align-items-center">
                                    <span class="text-danger me-3"><b>+$85</b></span>
                                    <div class="progress d-flex-block w-75" style="height: 6px;">
                                        <div class="progress-bar bg-danger" data-toggle="progress-bar" role="progressbar"
                                             aria-label="Success example" aria-valuenow="85" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- bosy end -->


<!DOCTYPE html>
<html lang="en" class="theme-fs-sm" data-bs-theme-color="default" dir="ltr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Profile</title>
</head>
<body>
<h1>Update Your Profile</h1>

<form action="/library/update-profile" method="post" enctype="multipart/form-data">
    <p><strong>Full Name:</strong> <input type="text" name="fullName" th:value="${user.staffName}" /></p>

    <!-- Trường Date of Birth với kiểu input là date -->

    <p><strong>Phone Number:</strong> <input type="text" name="phoneNumber" th:value="${user.phoneNumber}" /></p>
    <p><strong>Address:</strong> <input type="text" name="address" th:value="${user.address}" /></p>

    <!-- Avatar Upload -->
    <p><strong>Avatar:</strong> <input type="file" name="avatar" /></p>

    <!-- Nếu là staff, hiển thị role_id -->

    <button type="submit">Update Profile</button>
    <p><strong>Error:</strong>/></p>
</form>
</body>
</html>
