<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<body>
<h1>Change Password</h1>
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<form action="#" th:action="@{/student/reset-password/{id}(id=${studentId})}" method="post">
    <label>Old Password: </label><input type="password" name="oldPassword" /><br/>
    <label>New Password: </label><input type="password" name="newPassword" /><br/>
    <label>Confirm Password: </label><input type="password" name="confirmPassword" /><br/>
    <button type="submit">Change Password</button>
</form>

<a th:href="@{/student/profile/{id}(id=${studentId})}">Back to Profile</a>
</body>
</html>


